<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>
        <% include ../partials/nav %>

        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">About Page</h2>
                <div class="col-xs-12">
                    <p>Historic data from sensors</p>
                </div>
            </div>
        </div>
        <% include ../partials/scripts %>
    </body>
</html>